
@{
    ViewBag.Title = "GetContactView";
}
 
<div id="grid" class="jqGrid">
    <table id="list"></table>
<div id="pager">
    </div>
</div>

@Scripts.Render("~/bundles/jqgrid")
@Scripts.Render("~/bundles/Contact")
