@using DataModelLibrary
@{
    ViewBag.Title = "UploadStudent";
}

@Scripts.Render("~/bundles/ExcelUploadStudent")

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Student List</h3>
    </div>
    <div class="panel-body">
        <div id="grid" class="jqGrid">
            @using (Html.BeginForm("", "", null, FormMethod.Post,
                new { Id = "bulkuploadstudentform", name = "bulkuploadstudentform", enctype = "multipart/form-data", @class = "form form-inline" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form‐group">
                    <input type="file" id="dataFile" name="upload" class="form-control" />
                    <input type="button" value="Upload" id="btnupload" data-toggle="modal" data-target="#StudentModal" class="btn btn-success" />
                </div>
               
            }
        </div> 
    </div>
</div>
<div class="modal " id="StudentModal" tabindex="-1" role="dialog" aria-labelledby="StudentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="StudentModalLabel">Upload Confirm</h4>
            </div>
            <div class="modal-body resize-scroll">
                Are you sure want to upload ?
                <div class="row">
                    <div class="container">
                        <div class="col-md-12 col-sm-12"  id="ErrorResultArea"></div>
                    </div>
                </div> 
                <div class="row">
                    <div class="container">
                        <div class="col-md-12 col-sm-12" id="SuccessResultArea"></div>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-sm" id="btnstudentconfirm">Confirm</button>
            </div>
        </div>
    </div>
</div>

