
@{
    ViewBag.Title = "TemplateView";
}
<br>
<br>
<br>
<br>


 <div id="grid" class="jqGrid">
    <table id="list"></table>
    <div id="pager" />
</div>

@Scripts.Render("~/bundles/jqgrid")
@Scripts.Render("~/bundles/Template")




